* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 240, 240);
    font-family: 'Times New Roman', Times, serif
}

h1 {
    background: navy;
    font-size: 50px;
    height: 70px;
    color: aliceblue;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button {
    margin-top: 20px;
}

.city-search {
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
}

.city-forecast {
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

.btn-group h2 {
    border-bottom: solid black;

}
