* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 240, 240);
}

h1 {
    background: navy;
    height: 60px;
    color: aliceblue;
}

button {
    margin-top: 20px;
}

.city-search {
    height: 35px;
    margin-top: 10px;
}