body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  .weather-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  .city-search {
    width: 300px;
    height: 45px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .search-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .city-forecast {
    margin-top: 20px;
  }
  
  .previous-cities {
    margin-top: 20px;
  }
  
  .five-day-forecast {
    margin-top: 20px;
  }
  
  .five-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .forecast-day {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .previous-cities {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .previous-cities button {
    margin-bottom: 10px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    max-width: 50%;
    height: 40px;
  }
  
  @media (max-width: 768px) {
    .forecast-day {
      flex-basis: 100%;
    }
  }
  